body {
    margin: 0;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 45px;
    text-align: center;
}

p {
    font-size: 20px;

}
header {
    background-color: rgba(0,40,72, 1);
    padding: 10px;
}

.navbar {
    overflow: hidden;
    background-color: rgba(0,40,72, 1);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Display items horizontally */
}

.navbar li {
    float: left;
}

.navbar a {
    font-weight: bold;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 20px;
    margin-right: 20px;
    text-decoration: none;
}

.navbar-title a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.navbar a:hover {
    background-color: rgba(1, 60, 109, 0.3);
}

section {
    padding: 20px;
}

.home-section {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.home-section h1 {
    color: #3d3d3d;
}

.home-section p {
    color: #555;
    text-align: center;
}

.about-section {
    background-color: #f4f4f4;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-section h1 {
    color: #3d3d3d;
}

.about-section p {
    color: #555;
    text-align: center;
}

.below-section {
    position: absolute;
    left: 25%;
    right: 25%;
    width: 50%;
    height: 100px;
    width: 50%;
    text-align: center;
}

.guide-div {
    position: relative;
    top: 150px;
    height: 400px;
    padding: 20px;
    background-color: #f3f3f3;
}

.guide-section {
    position: absolute;
    height: 300px;
    width: 300px;
    margin-left: 50px;
    background-color: rgba(0, 128, 254, 0.5);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
}
.guide-section h2 {
    font-size: 25px;
    font-weight: bold;
}
.guide-section p {
    font-size: 16px;
    font-weight: 120;
}

/* .exploitGuide p{
    font-size: 16px;
    font-weight: 120;
} */

.button {
    position: relative;
    margin-left: 50px;
    border: none;
    padding: 5px 5px;
}

.btn-goToGuide {
        position: absolute;
        bottom: 10px;
        margin-bottom: 10px;
        width: 290px;
        height: 75px;
        background-color: #3498db;
        color: white;
        border: 1px solid;
        border-radius: 5px;
        cursor: pointer;
}

.btn-goToGuide:hover {
    background-color: #2980b9;
}

.div-actualGuide {
    position: absolute;
    left: 15%;
    right: 15%;
    text-align: justify;
}

.quickgo-section {
    position: absolute;
    top: 450px;
    width: 100%;
    height: 550px;
    background-color: #0d3a58;
    color: white;
}

.quickgo-section h1 {
    /* position: absolute; */
    margin-top: 5px;
    text-align: center;
}

.buttons-container {
    display: flex;
    justify-content: space-around;
    margin: 0 50px; /* Adjust this margin value as needed */
    margin-top: 25px;
}

.btn-quickGo {
    /* position: absolute; */
    top: 100px;
    width: 400px;
    height: 150px;
    font-size: 25px;
    font-weight: bold;
    background-color: #3498db;
    color: white;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
}

.btn-quickGo:hover {
    background-color: rgb(24, 58, 168);
}